@use '../../utils/variables' as *;

.club {
  margin-bottom: 2rem;

  h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid $light-grey;

    .clubHeading {
      display: flex;
      align-items: center;
    }

    .clubName {
      font-weight: 800;
      font-size: $half-medium-font-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  .clubContent {
    padding: 0.25rem 0.5rem;
  }
}