@use '../../../utils/variables' as *;

.input {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $medium-grey;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: white;

  input {
    padding: 0.25rem 0.5rem;
    width: 100%;
    font: inherit;
    border: 1px solid $medium-grey;
  }
}