@use '../../utils/variables' as *;

.link {
  display: flex;
  align-items: center;
  width: max-content;

  .linkText {
    color: $main-blue;
  }

  .linkTextWithIconRight {
    display: block;
    margin-right: 0.25rem;
  }
}