.input {
  margin-bottom: 2rem;
  .inputLabel {
    display: inline-block;
    margin-bottom: 0.25rem;
  }
  .inputOptions {
    display: flex;
    align-items: center;
  }

  .inputRadio {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    input {
      display: block;
      margin-right: 0.25rem;
      cursor: pointer;
    }
    
    label {
      cursor: pointer;
    }
  }
}