@use '../../../utils/variables' as *;

.input {
  width: 100%;
  margin-bottom: 2.5rem;
  position: relative;

  &.inputNoMargins {
    margin-bottom: 0;
  }

  .clearBtn {
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    display: block;
  }

  .inputDropdown {
    margin-top: -2px;
    background-color: white;
    border: 1px solid $medium-grey;
    border-radius: 2px;
    max-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;

    &.inputDropdownTop {
      bottom: 100%;
      margin-bottom: -2px;
    }

    .inputDropdownItem {
      padding: 0.25rem 0.5rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      text-align: left;

      &:hover {
        background-color: $light-grey;
        cursor: pointer;
      }
    }
  }
}