@use '../../../utils/variables' as *;

.input {
  width: 100%;
  margin-bottom: 2.5rem;
  position: relative;

  .clearBtn {
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    display: block;
  }

  .inputDropdown {
    margin-top: -2px;
    background-color: white;
    border: 1px solid $medium-grey;
    border-radius: 2px;
    max-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;

    .inputDropdownItem {
      padding: 0.25rem 0.5rem;
      width: 100%;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $light-grey;
        cursor: pointer;
      }

      input {
        display: block;
        margin-right: 0.5rem;
        cursor: pointer;
      }

      label {
        flex: 1;
        cursor: pointer;
      }
    }
  }
}