@use '../../utils/variables' as *;

.button {
  width: 100%;
  border: 2px solid $main-dark;
  border-radius: 4px;
  padding: 0.25rem;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &--inlineBlock {
    display: inline-block;
    width: auto;
  }

  &--borderless {
    border: none;
  }

  &:hover {
    background-color: $main-dark;
    color: white;
  }

  &--danger {
    color: $error-red;
    font-weight: 600;

    &:hover {
      background-color: $error-red;
      color: white;
    }
  }

  &:disabled {
    color: $medium-grey;
    border-color: $medium-grey;
    cursor: not-allowed;

    &:hover {
      background-color: white;
      color: $medium-grey;
    }
  }
}