.button {
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;

  .buttonText {
    display: block;
    margin-left: 0.25rem;
  }
}

.buttonContainer {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}