// Fonts
$default-font-size: 1rem;
$medium-font-size: 1.5rem;

// Colors
$main-dark: rgb(45, 45, 45);
$dark-grey: rgb(104, 104, 104);
$medium-grey: rgb(182, 182, 182);
$error-red: rgb(197, 0, 0);
$main-blue: rgb(0, 86, 216);
$success-green: rgb(0, 129, 0);