@use '../../utils/variables' as *;

.input {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;

  .inputLabel {
    display: inline-block;
    margin-bottom: 0.2rem;
    position: absolute;
    top: 0;
    left: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;

    &.inputLabelVisible {
      top: -1.5rem;
      visibility: visible;
      opacity: 1;
    }
  }

  input {
    display: block;
    border: 1px solid $medium-grey;
    border-radius: 2px;
    width: 100%;
    height: 2.25rem;
    padding: 0.2rem 2.25rem 0.2rem 0.5rem;
    font: inherit;
  }

  .inputFocused {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  .inputInvalid {
    box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.2);
  }

  .inputValid {
    box-shadow: 0 0 2px 2px rgba(0, 140, 255, 0.2);
  }

  .clearBtn {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);

    svg {
      fill: $main-dark;
    }

    &:hover {
      svg {
        fill: $dark-grey;
      }
    }
  }
}