@use '../../utils/variables' as *;

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 100%;
    width: 100%;
  }

  &_default {
    svg {
      fill: $main-dark;
    }
  }

  &_errorRed {
    svg {
      fill: $error-red;
    }
  }

  &_successGreen {
    svg {
      fill: $success-green;
    }
  }

  &_white {
    svg {
      fill: white;
    }
  }

  &_small {
    height: 1.5rem;
    width: 1.5rem;
    flex: 0 0 1.5rem;
  }

  &_medium {
    height: 2rem;
    width: 2rem;
    flex: 0 0 2rem;
  }

  &_big {
    height: 4rem;
    width: 4rem;
    flex: 0 0 4rem;
  }
}

.iconBtn {
  cursor: pointer;
}