.textBox {
  margin-bottom: 1.5rem;
  
  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

  &.textBoxFlex {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
  }
}